<div *ngIf="medication" class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body text-center">
            <img
                    [src]="medicationImage()"
                    alt="{{ medication.name }}"
                    class="img-fluid mb-4"
                    style="max-height: 300px; object-fit: cover; border-radius: 10px;"
            />

            <h2 class="card-title">{{ medication.name }}</h2>
            <hr />
            <div class="text-start">
                <p><strong>Instrucciones:</strong> {{ medication.instructions }}</p>
                <p><strong>Stock:</strong> {{ medication.stock }}</p>
                <p><strong>Dosis:</strong> {{ medication.dose }}</p>
            </div>

            <div>
                <button
                        *ngIf="loginService.isLogged() && loginService.isAdmin()"
                        class="btn btn-danger me-2"
                        (click)="removeMedication()"
                >
                    <i class="bi bi-trash"></i> Eliminar
                </button>

                <button
                        *ngIf="loginService.isLogged()"
                        class="btn btn-warning me-2"
                        (click)="editMedication()"
                >
                    <i class="bi bi-pencil-square"></i> Editar
                </button>

                <button class="btn btn-secondary" (click)="gotoMedications()">
                    <i class="bi bi-arrow-left-circle"></i> Volver a la lista
                </button>
            </div>
        </div>
    </div>
</div>
