<div class="container mt-5">
    <h2 class="mb-4">Lista de Medicamentos</h2>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let medication of medications">

            <a [routerLink]="['/medications', medication.id]" class="text-decoration-none text-primary fw-bold">
                {{ medication.name }}
            </a>

            <span class="rounded-pill">
                Stock: {{ medication.stock }}
            </span>
        </li>
    </ul>

    <div class="mt-4 text-end">
        <button
                *ngIf="loginService.isLogged()"
                class="btn btn-success"
                (click)="newMedication()"
        >
            <i class="bi bi-plus-circle"></i> Nuevo Medicamento
        </button>
    </div>
</div>
