{{>header}}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-dark text-white text-center">
                    <h3>Crea una nueva toma</h3>
                </div>
                <div class="card-body">
                    <form action="/takes/edittake/{{id}}" method="POST">

                        <div class="form-group">
                            <label for="date">Fecha de la toma</label>
                            <input type="date" class="form-control" name="date" id="date" placeholder="Fecha de la toma" required>
                        </div>

                        <div class="form-group">
                            <label for="medications">Medicamentos</label>
                            {{#take.medications}}
                                <input type="checkbox" name="medications" id="{{id}}" value="{{id}}" checked>
                                <label for="{{id}}" style="text-align: left">{{name}}</label>
                            {{/take.medications}}
                            {{#medications}}
                                <input type="checkbox" name="medications" id="{{id}}" value="{{id}}" >
                                <label for="{{id}}" style="text-align: left">{{name}}</label>
                            {{/medications}}

                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Editar</button>
                    </form>

                    <div class="card mt-3">
                        <div class="card-body text-center">
                            <a href="/takes/{{take.id}}">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}
