{{>header}}

<h2>Takes</h2>
<ul class="items">
    {{#takes}}
        <li><a href="/treatments/{{id}}">{{date}}</a></li>
        <li>{{#medications}}
            <ul>
                <li>{{name}}</li>
            </ul>
        {{/medications}}</li>
    {{/takes}}
</ul>

{{#logged}}
    <button onclick="location.href='/takes/newtake'">New take</button>
{{/logged}}

{{>footer}}
