{{>header}}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-dark text-white text-center">
            <h2>Detalles de la toma</h2>
        </div>
        <div class="card-body">
            <ul class="list-group" id="takeDetails">
                <li class="list-group-item" id="takeDate">
                    <strong>Fecha:</strong>
                    {{take.date}}
                </li>
                <li class="list-group-item" id="takeMedications">
                    {{#take.medications}}
                        <ul class="items">
                            <li class="text-decoration-none text-primary">{{name}}</li>
                        </ul>
                    {{/take.medications}}
                </li>
            </ul>
        </div>
        <div class="card-footer text-center">
            {{#logged}}
                <button class="btn btn-primary" id="deleteTake" onclick="location.href='/takes/removetake/{{take.id}}'">Borrar</button>
                <button class="btn btn-primary" id="updateTake" onclick="location.href='/takes/edittake/{{take.id}}'">Editar</button>
            {{/logged}}
            <button class="btn btn-primary" onclick="location.href='/takes/'">Volver</button>
        </div>
    </div>
</div>

{{>footer}}
