/* You can add global styles to this file, and also import other style files */
.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    font-size: 1.5rem;
}

img {
    border-radius: 10px;
}
