{{>header}}

<!-- Main Content -->
<div class="container mt-4 flex-grow-1">
    <!-- Categories -->
    <div class="card-deck">
        <div class="card">
            <img src="/images/Medications.png" class="card-img-top" alt="Medications" />
            <div class="card-body">
                <h5 class="card-title">Medicamentos</h5>
                <a href="/medications/" class="stretched-link"></a>
            </div>
        </div>
        <div class="card">
            <img src="/images/Treatments.jpg" class="card-img-top" alt="Treatments" />
            <div class="card-body">
                <h5 class="card-title">Tratamientos</h5>
                <a href="/treatments/" class="stretched-link"></a>
            </div>
        </div>
        <div class="card">
            <img src="/images/Takes.jpg" class="card-img-top" alt="Takes" />
            <div class="card-body">
                <h5 class="card-title">Historial de tomas</h5>
                <a href="/takes/" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>

{{>footer}}
